html {
    font-size: 10px;
    color: #264653;
    font-family: 'Roboto', sans-serif;
}

main{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    max-width: 50rem;
    margin: 1.8rem auto;
    background: linear-gradient(-40deg, #1b0ce7, #ff0004);
    padding: 3rem 1.6rem 6rem 1.6rem;
    border-radius: 8rem;
    box-shadow: 0px 0px 12px 12px #000000;
}

h1 {
    text-align: center;
    font-size: 3rem;
    margin: 0;
    padding-bottom: 3rem;
}

section {
    background-color: rgba(255, 255, 255, 0.151);
    border-radius: 1rem;
    margin-bottom: 1.6rem;
    font-size: 2rem;
    padding: 0 1.6rem;
}

section > div {
    padding: 1.6rem 0;
}

.bill {
    display: flex;
}

.bill label {
    align-self: center;
    flex: 1;
}

.bill input {
    flex: 5;
    margin-right: 1rem;
}

input[type="number"]{
    font-family: inherit;
    background: rgb(255, 255, 255);
    font-size: 1.6rem;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 0.5rem;
    padding: 0.8rem 0rem 0.8rem 0.8rem;
    box-shadow: inset -110px 0px 99px -17px #6e05d1;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.total {
    font-size: 2rem;
    font-weight: 500;
}

.range {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    background: #eee;
    margin-top: 1.2rem;
    border-radius: 0.3rem;
    outline-color: #5bceae;
}

.range::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    background: linear-gradient(80deg, #1b0ce7, #ff0004);
    cursor: pointer;
}